*{
    padding: 0;
    margin: 0;
}
body{
    
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.container{
    padding: 50px;
}
 .section-one{
    background-color: black;
    color: aqua;
    padding: 20px;
 }
 .section-one__name{
    font-size: 40px;
 }
 .section-one__role{
    font-size: 20px;
    margin-top: 10px;
 }
 .section-two, .sectio-three, .section-four, .section-five{
    margin-top: 20px;
 }

 .section-two__dec, .sectio-three__dec, .section-four__dec, .section-five_dec{
    margin-top: 20px;
 }

 .section-five{
    background-color: black;
    color: chartreuse;
    padding: 20px;
 }

 .section-five__title a{
    color: khaki;
 }

 .section-four li,.sectio-three li{
    list-style-type: style none; ;
 }

 .section-three{
    background-color: #6462fd;
    color:black;
    padding: 20px;
    display: inline-block;
    height: 200px;
    border-radius: 10px;
    vertical-align: top;
 }

 .section-four{
    background-color: #fe757f;
    color: black;
    padding: 20px;
    display: inline-block;
    height: 200px;
    border-radius: 10px;
    vertical-align: top;

 }